body{
    margin:0;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#74ebd5;
    font-family:Arial;
}
.container{
    background:#fff;
    padding:20px;
    border-radius:8px;
    width:250px;
}
input,select,button{
    width:100%;
    margin:5px 0;
    padding:6px;
}
button{
    background:#4CAF50;
    color:white;
    border:none;
}